// @import '~@ui5/webcomponents/dist/Assets.css';

footer {
    background-color: #030303;
    color: white;
    padding: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}