.app {
  font-family: 'Arial', sans-serif;

  // @media only screen and (min-width: 600px) {
  //   padding: 1rem;
  //   /* Add padding for tablet and larger screens */
  // }

  .search-bar {
    margin-bottom: 1rem;
    padding: 0rem;
    /* Add margin to separate SearchBar and Card */

    @media only screen and (min-width: 600px) {
      padding: 2rem;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      /* Remove margin for tablet and larger screens */
    }
  }

  .movie-list {
    margin: 1rem;
    padding: 0rem;
    /* Add margin to separate SearchBar and Card */

    @media only screen and (min-width: 600px) {
      margin-top: 0;
      padding: 2rem;
      padding-top: 0px;
      /* Remove margin for tablet and larger screens */
    }
  }
}